@{
    ViewData["Title"] = "Pet Mart | FAQ";
}

<div class="row justify-content-md-center mb-5">
    <div class="col-8">
        <h1 class="mb-4">FAQ</h1>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Placing an order
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>Checkout.</strong> If you already have a PetMart account, sign in. Otherwise, follow <a href="#createAccount">these</a> instructions. When you're ready to check out, go to your shopping cart and click 'continue to checkout'.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo" id="createAccount">
                        Create an Account
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo" style="">
                    <div class="accordion-body">
                        <strong>Create an Account.</strong> It’s easy to create a PetMart account. Simply click <a href="/Account/SignUp">here</a> to register using your email address and a password. To ensure security, all passwords must be 8 characters or more and contain at least one of the following: upper case letter, number, or a special character.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                        Estimated Delivery Date
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree" style="">
                    <div class="accordion-body">
                        <strong>Estimated Delivery Date.</strong> Accurate on-time delivery is very important to us. For many products, we calculate Estimated Delivery Dates to help you determine when products are expected to arrive. An Estimated Delivery Date is a calculation of several factors including product availability, allocation time in our fulfillment center, shipping method and destination. Please note: Estimated Delivery Dates are estimates only and are not guaranteed.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
