@{
    ViewData["Title"] = "Pet Mart | Home";
}

@section Layouts {
    <link href="~/css/carousel.css" rel="stylesheet" />
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#dd2834">
                    </rect>
                </svg><img src="/images/carousel (2).svg">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1><span class="badge bg-dark">Your best friend deserves it!</span></h1>
                        <p class="h2"><span class="badge bg-dark">Choose the ideal products for your partner</span></p>
                        <p><a class="btn btn-lg btn-primary" asp-action="Index" asp-controller="Categories">browse products</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#f69400">
                    </rect>
                </svg><img src="/images/carousel (1).svg">

                <div class="container">
                    <div class="carousel-caption">
                        <h1><span class="badge bg-dark">Check your orders</span></h1>
                        <p class="h2"><span class="badge bg-dark">check the status, details and invoices of your orders</span></p>
                        <p><a class="btn btn-lg btn-primary" asp-action="Index" asp-controller="Orders">learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#4c7b36">
                    </rect>
                </svg><img src="/images/carousel (3).svg">

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1><span class="badge bg-dark">How can we help you?</span></h1>
                        <p class="h2"><span class="badge bg-dark">Learn more about our shipping & delivery options.</span></p>
                        <p><a class="btn btn-lg btn-primary" asp-action="FAQ" asp-controller="Home">help</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
